// bower:scss
// endbower

$background: #FAFAFA;

body {
  padding: 0px;
  margin: 0px;
  background: $background;
}

.container {
  margin: 15px;
  text-align: center;
}

.floatleft {
  float:left;
  padding: 5px;
  padding-left: 35px;
}

.floatright {
  float:right;
}

.height-20 {
 height:20px;
}

.cell:hover #overlay {
 opacity:0.5;}

 .boxcard {
  width: 50%;
  background: white;
  margin: auto;
  border: 1px solid lightgray;
  cursor: pointer;
}
.boximage {
  max-width:100%;
  max-height:100%;
}

.brand {
  cursor:pointer;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.cell {
  flex: 0 0 32%;
  max-height: 550px;
  max-width: 350px;
}

.nav ul {
  list-style: none;
  background-color: white;
  text-align: center;
  line-height: 80px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid lightgray;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
}

.nav a {
  text-decoration: none;
  color: black;
  display: block;
  transition: .3s background-color;

}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {

  .nav li {
    width: 120px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}
@media screen and (max-width: 400px) {
  .boxcard {
    width: 100%;
    background: white;
    margin: auto;
    border: 1px solid lightgray;
  }
}

.fade.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}

.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

.fade.ng-enter.ng-enter-active {
  opacity:1;
}

#overlay
{
 text-align:center;
 padding:45px 0 66px 0;
 opacity:1;
 -webkit-transition: opacity .25s ease;
 -moz-transition: opacity .25s ease;
}

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.slide.ng-hide-add,
.slide.ng-hide-remove {
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity: 0;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
