<div class="grid">
  <div class="cell">
    <img
    style="border-radius:60px"
    src="{{user.data.results[0].picture.large}}"
    alt="">
  </div>
  <div style="margin-right:auto" class="cell">
   <ul class="userInfo">
    <li>
      <h2>
       {{user.data.results[0].name.first | capitalize}}
       {{user.data.results[0].name.last | capitalize}}
     </h2>
   </li>
   <li>
    {{user.data.results[0].location.city | capitalize}},
    {{user.data.results[0].location.state | capitalize}}
  </li>
  <li>
    {{food | capitalize}}
  </li>
</ul>
</div>


</div>
<div class="grid">
  <div ng-repeat="image in images track by $index" class="cell"
  ng-click='toggleModal($index)'

  >
  <div id="overlay">
  <span
   class="overlayIcons">
  <i class="fa fa-comment-o" aria-hidden="true"></i>
  {{image.comments.length}}
  <i class="fa fa-heart" aria-hidden="true"></i>
  {{image.likes}}
  </span>
    <img
    class="boximage"
    ng-src="{{image.url}}"
    alt=""/>
  </div>
</div>

</div>
<modal-dialog
profile="user.data.results[0]"
data="images"
index="index"
content="content"
show='modalShown'>
<p>Modal Content Goes here<p>
</modal-dialog>
