<p>This is the food view.</p>

<div class="grid">
  <div class="cell">
  <img
   class="boximage"
   src="http://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/images/tomatoplant.jpg?itok=KJNBeA6X"
   alt=""/>
  </div>
  <div class="cell">
  <img
   class="boximage"
   src="http://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/images/tomatoplant.jpg?itok=KJNBeA6X"
   alt=""/>
  </div>

  <div class="cell">
  <img
   class="boximage"
   src="http://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/images/tomatoplant.jpg?itok=KJNBeA6X"
   alt=""/>
  </div>

</div>
