<div class="grid">
  <div class="cell">
    <img
    style="border-radius:60px"
    src="{{user.data.results[0].picture.large}}"
    alt="">
  </div>
  <div style="margin-right:auto" class="cell">
   <ul style="list-style: none; text-align:left; padding:5px; margin:0">
    <li>
      <h2>
       {{user.data.results[0].name.first | capitalize}}
       {{user.data.results[0].name.last | capitalize}}
     </h2>
   </li>
   <li>
    {{user.data.results[0].location.city | capitalize}},
    {{user.data.results[0].location.state | capitalize}}
  </li>
  <li>
    {{food | capitalize}}
  </li>
</ul>
</div>


</div>
<div class="grid">
  <div ng-repeat="image in images track by $index" class="cell"
  ng-click='toggleModal()'
  >
  <div id="overlay">
    <img
    class="boximage"
    ng-src="{{image.$value}}"
    alt=""/>
  </div>
</div>

</div>
<modal-dialog
profile="user.data.results[0]"
data="images"
content="content"
show='modalShown' width='750px' height='60%'>
<p>Modal Content Goes here<p>
</modal-dialog>
