
<div
ui-sref='food({ foodId: 1 })'"
class="boxcard">
  <i
  style="float:left; padding:10px"
  class="fa fa-area-chart"
  aria-hidden="true"></i>
  <span
  style="float:right; padding:10px">
    2 days ago
  </span>
  <div class="height-20"></div>
  <p>
   <img
   class="boximage"
   src="http://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/images/tomatoplant.jpg?itok=KJNBeA6X"
   alt=""/>
 </p>
</div>
<div class="height-20"></div>
<div class="height-20"></div>
<div
ui-sref='food({ foodId: 1 })'"
class="boxcard">
 <i
  style="float:left; padding:10px"
  class="fa fa-area-chart"
  aria-hidden="true"></i>
  <span
  style="float:right; padding:10px">
    2 days ago
  </span>
  <div class="height-20"></div>
  <p>
   <img
   class="boximage"
   src="http://news.psu.edu/sites/default/files/styles/photo_gallery_large/public/Branched%20Oyster%20Mushroom%2002.jpg?itok=ct5Vs8Es"
   alt=""/>
 </p>
</div>
