<div ng-repeat="food in foodList">
<div
ui-sref='food({ foodId: food.title })'
class="boxcard fade"
>
  <i
  style="float:left; padding:10px"
  class="fa fa-area-chart"
  aria-hidden="true"></i>
  <span style="float:left; padding:7px">
     {{food.title | capitalize}}
  </span>

  <span
  style="float:right; padding:10px">
    2 days ago
  </span>
  <div class="height-20"></div>
  <p>
   <img
   class="boximage"
   ng-src="{{food.image}}"
   />
 </p>
</div>
<div ng-repeat="food in foodList" class="height-20"></div>
<div ng-repeat="food in foodList" class="height-20"></div>
</div>




