<div class='ng-modal' ng-show='show'>
  <div class='ng-modal-overlay' ng-click='hideModal()'></div>
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class='ng-modal-close' ng-click='hideModal()'>X</div>
    <div class='ng-modal-dialog-content'>
      <div class="grid">
        <div class="cell">
          <slider data="data" />
        </div>
        <div class="cell">
          <div style="border-bottom:1px solid gainsboro;">
            <img
            style="border-radius:30px; padding:10px; vertical-align: middle; padding"
            src="{{profile.picture.thumbnail}}"
            alt="">
            <span>
              {{profile.name.first | capitalize}}
              {{profile.name.last | capitalize}}
            </span>
          </div>
          <p style="border-bottom:1px solid gainsboro; padding:10px; max-height: 100%; overflow: hidden">

            {{content[current] | limitTo:100}}

          </p>
          <div class="field" style="position: absolute;
          bottom: 2px;">
          <span class="fa fa-heart-o errspan" aria-hidden="true"></span>
          <input
          class="commentInput"
          placeholder="Add a comment.."
          type="text"/>
        </div>

      </div>

    </div>
  </div>
</div>
</div>
