<div class='ng-modal' ng-show='show'>
  <div class='ng-modal-overlay' ng-click='hideModal()'></div>
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class='ng-modal-close' ng-click='hideModal()'>X</div>
    <div class='ng-modal-dialog-content'>
      <div class="grid">
        <div class="cell">
          <slider data="data" />
        </div>
        <div class="cell">
        <div style="border-bottom:1px solid gainsboro;">
          <img
          style="border-radius:20px"
          src="{{profile.thumbnail}}"
          alt="">
          </div>
          <p style="border-bottom:1px solid gainsboro; padding:10px; max-height: 100%; overflow: hidden">

            {{content[current]}}

          </p>
        </div>

      </div>
    </div>
  </div>
</div>
